.card{
    width:500px;
    height:300px;
    background-color: aquamarine;
    margin-left:auto;
    margin-right: auto;
    margin-top: 75px;
    padding:10px;
}

.card-header{
    width:200px;
    height:100px;
    background-color:blueviolet;
    margin-left: auto;
    margin-right: auto;
}
.card-item{
    width:100px;
    height:70px;
    background-color: yellow;
}
.card-item2{
    margin-left:auto
}